  <div data-controller="tokens">
    <form class="row justify-content-md-left g-3 pb-4" id="token_search" action="/tokens" accept-charset="UTF-8" method="get">

      <div class="col-md-11">
        <input class="form-control rounded-pill" placeholder="Name or description contains" type="search" name="q[name_or_description_cont]" id="q_name_or_description_cont">
      </div>

      <div class="col-md-1">
        <%# <input name="push" type="hidden" value="<%= @push ? "true" : "false" %1>"> %>
        <input type="submit" name="commit" value="Search" class="btn btn-dark rounded-pill" data-disable-with="Search">
      </div>

      <%# <div class="col-md-1" style="margin-top:23px"> %>
      <%#   <a href="<%= url_for tokens_path(push: (not @push))  %1>" class="link-dark" role="button" data-bs-toggle="button"> %>
      <%#     <% if @push %1> %>
      <%#       <i class="bi bi-check-circle"></i> Push %>
      <%#     <% else %1> %>
      <%#       <i class="bi bi-circle"></i> Push %>
      <%#     <% end %1> %>
      <%#   </a> %>
      <%# </div> %>

      <%# <div class="col-md-3 text-end"> %>
      <%#   <% unless @push %1> %>
      <%#     <%= sort_link @q, :created_at, "Time", { default_order: :desc }, { class: "btn btn-link link-dark" } %1> %>
      <%#     <%= sort_link @q, :transfers_count_24h, "TR24H", {}, { class: "btn btn-link link-secondary px-1" } %1> %>
      <%#     <%= sort_link @q, :transfers_count_7d, "TR7D", {}, { class: "btn btn-link link-secondary px-1" } %1> %>
      <%#     <%1# <%= sort_link @q, :last_transfer_time, "LTR", {}, { class: "btn btn-link link-secondary px-1" } %2> %1> %>
      <%#   <% end %1> %>
      <%# </div> %>
    </form>

    <%# <% if @push %1> %>
    <%#   <% if @stream_sub_name.blank? %1> %>
    <%#     <%= turbo_stream_from "tokens" %1> %>
    <%#   <% else %1> %>
    <%#     <%= turbo_stream_from "tokens", @stream_sub_name %1> %>
    <%#   <% end %1> %>
    <%# <% end %1> %>
    <div id="tokens" class="row g-3" data-tokens-target="tokens">
      <%= render @tokens %>
    </div>

    <% unless @pagy.page == @pagy.last %>
      <div class="row gx-0">
        <button type="button" class="btn btn-outline-dark rounded-pill mt-4" data-action="tokens#loadMore" data-tokens-target="loadMoreBtn">
          Load More
        </button>
        <div class="invisible" data-tokens-target="url"><%= @next_page_url %></div>
      </div>
    <% end %>
  </div>
