  <div data-controller="tokens">
    <%= search_form_for @q, { class: "row justify-content-md-left g-3 pb-4" } do |f| %>
      <div class="col-md-2">
        <%= 
          f.select(
            :collection_blockchain_id_eq, 
            options_for_select(
              Blockchain.all.map {|b| [b.name, b.id]}, 
              f.object.collection_blockchain_id_eq
            ),
            { include_blank: "Select Chain" }, 
            { class: "form-control rounded-pill" }
          )
        %>
      </div>

      <div class="col-md-2">
        <%= 
          f.select(
            :collection_nft_type_eq, 
            options_for_select(
              Collection.nft_types.map {|name, num| [name, num]}, 
              f.object.collection_nft_type_eq
            ),
            { include_blank: "Select NFT Type" }, 
            { class: "form-control rounded-pill" }
          )
        %>
      </div>

      <div class="col-md-3">
        <%= 
          f.search_field(
            :name_or_description_cont,
            { class: "form-control rounded-pill", placeholder: "Name or description contains" } 
          )
          %>
      </div>

      <div class="col-md-1">
        <input name="refresh" type="hidden" value="<%= @refresh ? "true" : "false" %>">
        <%= f.submit class: "btn btn-dark rounded-pill" %>
      </div>

      <div class="col-md-1" style="margin-top:23px">
        <a href="<%= url_for tokens_path(refresh: (not @refresh))  %>" class="link-dark" role="button" data-bs-toggle="button">
          <% if @refresh %>
            <i class="bi bi-check-circle"></i> Refresh
          <% else %>
            <i class="bi bi-circle"></i> Refresh
          <% end %>
        </a>
      </div>

      <div class="col-md-3 text-end">
        <% unless @refresh %>
          <%= sort_link @q, :created_at, "Time", { default_order: :desc }, { class: "btn btn-link link-dark" } %>
          <%= sort_link @q, :transfers_count_24h, "TR24H", {}, { class: "btn btn-link link-secondary px-1" } %>
          <%= sort_link @q, :transfers_count_7d, "TR7D", {}, { class: "btn btn-link link-secondary px-1" } %>
          <%= sort_link @q, :last_transfer_time, "LTR", {}, { class: "btn btn-link link-secondary px-1" } %>
        <% end %>
      </div>
    <% end %>

    <% if @refresh %>
      <% if @stream_sub_name.blank? %>
        <%= turbo_stream_from "tokens" %>
      <% else %>
        <%= turbo_stream_from "tokens", @stream_sub_name %>
      <% end %>
    <% end %>
    <div id="tokens" class="row g-3" data-tokens-target="tokens">
      <%= render @tokens %>
    </div>

    <% unless @pagy.page == @pagy.last %>
      <div class="row gx-0">
        <button type="button" class="btn btn-outline-dark rounded-pill mt-4" data-action="tokens#loadMore" data-tokens-target="loadMoreBtn">
          Load More
        </button>
        <div class="invisible" data-tokens-target="url"><%= @next_page_url %></div>
      </div>
    <% end %>
  </div>
