<div class="card my-item" style="width: 160px; margin-right: 26px; padding: 6px;">
  <div class="position-relative">
    <img src="<%= token.image %>" alt="<%= token.name.nil? ? '' : token.name %>" style="width: 100%" />

    <% if token.ipfs? %>
      <span class="badge position-absolute bottom-0 end-0" style="background-color: #6acad1">
        IPFS
      </span>
      <span class="badge <%= token.nft_type == "erc721" ? "bg-dark" : "bg-light text-dark" %> position-absolute bottom-0 end-0" style="right: 43px !important;">
        <%= token.nft_type %>
      </span>
    <% else %>
      <span class="badge <%= token.nft_type == "erc721" ? "bg-dark" : "bg-light text-dark" %> position-absolute bottom-0 end-0" >
        <%= token.nft_type %>
      </span>
    <% end %>
  </div>

  <div class="card-body px-2 py-1">
    <div class="text-truncate small py-1">
      <%= link_to url_for(token_path(token)) do %>
        <%= token.name.nil? ? '_' : token.name %>
      <% end %>
    </div>

    <div class="text-truncate py-1" style="font-size: 0.7rem;">
      <div class="small align-bottom">
        From: 
        <%= link_to account_path(transfer.from) do %>
          <%= short_address(transfer.from.address) %>
        <% end %>
      </div>
      <div class="small align-bottom">
        To: 
        <%= link_to account_path(transfer.to) do %>
          <%= short_address(transfer.to.address) %>
        <% end %>
      </div>
    </div>

    <div class="text-truncate py-1" style="font-size: 0.7rem;">
      <span class="small align-bottom">
        #<%= token.token_id_on_chain %>
      </span>
    </div>

    <div class="text-truncate py-1" style="font-size: 0.7rem;">
      <span class="small align-bottom">
        <%= link_to token.collection.name, url_for(token.collection) %>
      </span>
    </div>
  </div>
</div>
