<div data-controller="welcome">

  <% if @tokens.length > 0 %>
    <div class="container-fluid px-0 mt-3">
      <div class="row justify-content-start align-items-center">
        <div class="col-3">
          <h3>New NFTs</h3>
        </div>
        <div class="col-8 text-end" style="padding-top: 26px">
          <a href="<%= url_for tokens_path("q[s]" => "created_at desc") %>" >More</a>
        </div>
      </div>
    </div>

    <div class="glide" id="glide1-hidden" hidden>
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides" style="padding-top: 40px; padding-bottom: 60px">
          <%= render partial: "welcome/token", collection: @tokens %>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="bi bi-caret-left-fill text-black-50"></i></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="bi bi-caret-right-fill text-black-50"></i></button>
      </div>
    </div>

    <div class="glide" id="glide1">
    </div>
  <% end %>



  <% if @transfers.length > 0 %>
    <div class="container-fluid px-0 mt-5">
      <div class="row justify-content-start align-items-center">
        <div class="col-4">
          <h3>Latest transfers</h3>
        </div>
      </div>
    </div>

    <div class="glide" id="glide2-hidden" hidden>
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides" style="padding-top: 40px; padding-bottom: 60px">
          <% @transfers.each do |transfer| %>
            <%= render partial: "welcome/transfer", locals: { token: transfer.token, transfer: transfer } %>
          <% end %>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="bi bi-caret-left-fill text-black-50"></i></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="bi bi-caret-right-fill text-black-50"></i></button>
      </div>
    </div>

    <div class="glide" id="glide2">
    </div>
  <% end %>



  <% if @highest_24h.length > 0 %>
    <div class="container-fluid px-0 mt-5">
      <div class="row justify-content-start align-items-center">
        <div class="col-6">
          <h3>Highest 24h transfered</h3>
        </div>
        <div class="col-5 text-end" style="padding-top: 26px">
          <a href="<%= url_for tokens_path("q[s]" => "transfers_count_24h desc") %>" >More</a>
        </div>
      </div>
    </div>

    <div class="glide" id="glide3-hidden" hidden>
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides" style="padding-top: 40px; padding-bottom: 60px">
          <% @highest_24h.each do |token| %>
            <%= render partial: "welcome/token", locals: { token: token, for_transfered_24h: true } %>
          <% end %>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="bi bi-caret-left-fill text-black-50"></i></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="bi bi-caret-right-fill text-black-50"></i></button>
      </div>
    </div>

    <div class="glide" id="glide3">
    </div>
  <% end %>



  <% if @highest_7d.length > 0 %>
    <div class="container-fluid px-0 mt-5">
      <div class="row justify-content-start align-items-center">
        <div class="col-6">
          <h3>Highest 7d transfered</h3>
        </div>
        <div class="col-5 text-end" style="padding-top: 26px">
          <a href="<%= url_for tokens_path("q[s]" => "transfers_count_7d desc") %>" >More</a>
        </div>
      </div>
    </div>

    <div class="glide" id="glide4-hidden" hidden>
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides" style="padding-top: 40px; padding-bottom: 60px">
          <% @highest_7d.each do |token| %>
            <%= render partial: "welcome/token", locals: { token: token, for_transfered_7d: true } %>
          <% end %>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="bi bi-caret-left-fill text-black-50"></i></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="bi bi-caret-right-fill text-black-50"></i></button>
      </div>
    </div>

    <div class="glide" id="glide4">
    </div>
  <% end %>

</div>
